<section class="icons-marvel">
    <img src="../../../assets/icons/icono_spider.png" alt="">
    <img src="../../../assets/icons/icono_hulk.png" alt="">
    <img src="../../../assets/icons/icono_thor.png" alt="">
    <img src="../../../assets/icons/icono_groot.png" alt="">
    <img src="../../../assets/icons/icono_iron_man.png" alt="">
</section>
<section class="text_2">
    <img class="line_1" src="../../../assets/images/Lineas_1.png" alt="">
    <p>Marvel Comics es una editorial de cómics conocida por crear notables superhéroes como Spider-Man, Iron Man, 
        Capitán América, Hulk, Thor, los Vengadores, los Guardianes de la Galaxia, los X-Men, <br> los Cuatro Fantásticos y Deadpool.
    </p>
    <img class="line_2" src="../../../assets/images/Lineas_2.png" alt="">
</section>