@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
.parallax {
    height: 60vh;
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    background-image: url(/assets/images/portada_comic_grande.jpg),linear-gradient(180deg, #000 0%, rgba(23, 34, 90, 0.26) 66.67%, rgba(6, 6, 6, 0.57) 82.81%, #090909 100%);
    background-blend-mode: multiply;
    background-size: cover;
    background-attachment: fixed;
}
.parallax h1 {
    color: rgba(204, 201, 201, 0.83);
    text-align: center;
    font-size: 35px;
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    line-height: 96.7%;
    padding: 5%;
}

.parallax button {
    text-transform: uppercase;
    position: absolute;
    top: 70%;
    left: 42%;
    font-size: 25px;
    padding: 10px 40px;
    font-family: Lato;
    font-weight: 500;
    border-radius: 35px;
    color: #ffff;
    border: 3px solid #000;
    background: #8F1919;
}

.parallax p {
    position: absolute;
    color: #ffffff;
    text-align: center;
    font-size: 24px;
    font-family: Lato;
    top: 80%;
    left: 41%;
}

@media(max-width: 917px) {
    .parallax {
        height: 50vh;
        max-width: 90%;
    }
}

@media(max-width: 716px)  {
    .parallax {
        margin-top: 23%;
        height: 40vh;
    }
}

@media(max-width: 610px) {
    .parallax {
        margin-top: 37%;
    }
}

@media(max-width: 360px) {
    .parallax {
        margin-top: 77%;
        height: 30vh;
    }
}
