@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.header {
    background-color: #000000;
}
nav {
    max-width: 1500px;
    margin:  0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
}
nav .container {
    display: flex;
    align-items: center;
    z-index: 100;
}

nav ul li {
    float: left;
    list-style: none;
}

nav ul li a {
    text-transform: uppercase;
    padding: 45px;
    color: #FFF;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    text-decoration: none;
}

.logo {
    width: 215px;
    padding: 0 5px;
}
.container ul li a{
    padding-left: 70px;
}

.menu-icon {
    width: 35px;
    display: none;
}

@media(max-width: 1024px) {
    nav {
        padding: 10px;
    }
    .container img {
        width: 150px;
    }
}

@media(max-width: 947px) {
    nav {
        padding: 5px 0;
    }

    .container ul li a{
        padding-left: 46px;
    }

    nav .new-items ul {
        position: fixed;
        flex-direction: column;
        top: 23%;
        background-color: #2b2b2b;
        display: flex;
        left: 95%;
        right: 0%;
        line-height: 75px;
    }

    nav .new-items-login ul{
        position: absolute;
        flex-direction: column;
        top: 8%;
        background-color: #2b2b2b;
        display: flex;
        left: 40%;
        right: 0%;
        line-height: 75px;
    }

    .menu-icon {
        position: absolute;
        display: block;
        left: 90%;
        top: 3%;
    }

    .menuClass .new-items ul{
        left: 40%;
    }

}

/* transition: all 500ms ease; */