<header>
  <nav>
    <img src="/assets/images/logo_marvel.jpg" alt="">
    <ul>
      <li>
        <img src="/assets/icons/icon_1.png" alt="">
        <a href="">Home</a>
      </li>
      <li>
        <a href="">Personajes</a>
      </li>
    </ul>
    <img src="/assets/icons/campana_icon.png" alt="">
    <img src="/assets/icons/configuraciones_icon.png" alt="">
  </nav>
</header>

<!-- zone responsive -->
<!-- <header>
  <nav>
    <img src="/assets/icons/menu_icon_responsive.png" alt="">
    <img src="/assets/images/logo_marvel.jpg" alt="">
    <ul>
      <li>
        <img src="/assets/icons/icon_1.png" alt="">
        <a href="">Home</a>
      </li>
      <li>
        <a href="">Personajes</a>
      </li>
    </ul>
    <img src="/assets/icons/campana_icon.png" alt="">
    <img src="/assets/icons/configuraciones_icon.png" alt="">
  </nav>
</header> -->
