@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.header {
    background-color: #000000;
}
nav {
    max-width: 1500px;
    margin:  0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
}
nav .container {
    display: flex;
    align-items: center;
    z-index: 100;
}

nav ul li {
    float: left;
    list-style: none;
}

nav ul li a {
    text-transform: uppercase;
    padding: 45px;
    color: #FFF;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    text-decoration: none;
}

#selection-home a{
    color: #4F69C5;
    font-weight: bold;
    background: linear-gradient(180deg, rgba(21, 21, 21, 0.10) 0%, rgba(103, 102, 156, 0.32) 100%);
    padding: 50px 35px;
    margin-left: 27px;
}
.icono_selection {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0%;
    left: 25.7%;
}

.logo {
    width: 215px;
    padding: 0 5px;
}
.container ul li a{
    padding-left: 70px;
}

.menu-icon {
    width: 35px;
    display: none;
}

@media(max-width: 1600px) {
    .icono_selection {
        left: 20.7%;
    }
}

@media(max-width: 1024px) {
    nav {
        padding: 10px;
    }
    .container img {
        width: 150px;
    }
    #selection-home a {
        padding: 36px 35px;
    }

    .icono_selection {
        left: 17%;
        height: 3%;
    }
}

@media(max-width: 947px) {
    nav {
        padding: 5px 0;
        display: flex;
        flex-direction: row-reverse;
    }
    
    nav .new-items ul {
        display: flex;
        line-height: 75px;
        font-size: 10px;
    }
 
    nav .new-items-login ul{
        display: flex;
        line-height: 75px;
    }

    nav ul li a {
        padding: 25px;
        font-size: 12px;
    }
    .icono_selection {
        left: 63.2%;
        height: 3%;
    }
}

@media(max-width: 716px)  {
    nav .new-items ul {
        top: 7.9%;
        position: absolute;
        left: 50%;
        background-color: #000000;
        padding: 0 20px;
        right: 0;
    }
 
    nav .new-items-login ul{
        top: 7.9%;
        position: absolute;
        left: -4%;
        background-color: #000000;
        padding: 0 48px;
    }

    nav .new-items-login ul li {
        padding: 0 29px;
    }

    nav ul li a {
        padding: 10px;
        font-size: 12px;
    }
    .container img {
        position: absolute;
        top: 1%;
        left: 37%;
    }
    .icono_selection {
        display: none;
    }
}

@media(max-width: 610px) {
    nav .new-items ul {
        top: 15.9%;
        position: absolute;
        left: 20%;
        right: 0;
    }
    
    nav .new-items-login ul li {
        padding: 0 110px;
    }
    #selection-home a {
        background: transparent;
    }
}

@media(max-width: 502px) {
    nav .new-items-login ul li {
        padding: 0 75px;
    }
}

@media(max-width: 360px) {
    nav .new-items ul {
        top: 15.9%;
        position: absolute;
        left: -6%;
        right: 0;
    }

    nav .new-items-login ul li {
        padding: 0 33px;
    }

    nav ul li a {
        padding: 0;
    }
    .container img {
        left: 27%;
    }
}
