<header>
    <div class="header">
        <nav>
            <div class="container">
                <img src="/assets/images/Logo_marvel.png" class="logo" alt="">
                <div class="new-items">
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">Personajes</a></li>
                    </ul>
                </div>
            </div>
            <div class="boton">
                <img src="/assets/icons/icono_menu.png" class="menu-icon" alt="">
            </div>
            <div class="new-items-login">
                <ul>
                    <li><a href="">Iniciar sesion</a></li>
                    <li><a href="">Registrarse</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>
