<header>
    <div class="header">
        <nav>
            <div class="container">
                <img src="/assets/images/Logo_marvel.png" class="logo" alt="">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Personajes</a></li>
                </ul>
            </div>
            <input type="checkbox" id="menu">
            <label for="menu">
                <img src="/assets/icons/icono_menu.png" class="menu-icon" alt="">
            </label>
            <ul>
                <div class="new-items">
                    <li><a href="">Iniciar sesion</a></li>
                    <li><a href="">Registrarse</a></li>
                </div>
            </ul>
        </nav>
    </div>
</header>