@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.header {
    background-color: #000000;
}
nav {
    max-width: 1500px;
    margin:  0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
}
nav .container {
    display: flex;
    align-items: center;
    z-index: 100;
}

nav ul li {
    float: left;
    list-style: none;
}

nav ul li a {
    text-transform: uppercase;
    padding: 45px;
    color: #FFF;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    text-decoration: none;
}

.logo {
    width: 215px;
    padding: 0 5px;
}
.container ul li a{
    padding-left: 70px;
}

.menu-icon {
    width: 35px;
    display: none;
}

@media(max-width: 1024px) {
    nav {
        padding: 10px;
    }
    .container img {
        width: 150px;
    }
}

@media(max-width: 947px) {
    nav {
        padding: 5px 0;
        display: flex;
        flex-direction: row-reverse;
    }
    
    nav .new-items ul {
        display: flex;
        line-height: 75px;
        font-size: 10px;
    }
 
    nav .new-items-login ul{
        display: flex;
        line-height: 75px;
    }

    nav ul li a {
        padding: 25px;
        font-size: 12px;
    }
}

@media(max-width: 716px)  {
    nav .new-items ul {
        top: 7.9%;
        position: absolute;
        left: 50%;
        background-color: #000000;
        padding: 0 20px;
        right: 0;
    }
 
    nav .new-items-login ul{
        top: 7.9%;
        position: absolute;
        left: -4%;
        background-color: #000000;
        padding: 0 48px;
    }

    nav .new-items-login ul li {
        padding: 0 29px;
    }

    nav ul li a {
        padding: 10px;
        font-size: 12px;
    }
    .container img {
        position: absolute;
        top: 1%;
        left: 37%;
    }
}