<footer class="bg-dark ">
  <div class="">
    <div class="importante">
  </div>
  </div>
  <hr>
  <!-- Grid container -->
  <div class="">
    <!-- Section: Social media -->
    <div class="">
      <a class="" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>
      <a class="" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>
      <a class="" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>
      <a class="" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </div>
  </div>
  <!-- Copyright -->
  <div class="copy">
      Trabajo hecho por Leidy Paez @2023 <a class="text-white" href="#">hecho con amor</a>
  </div>
</footer>
